
*{
    box-sizing: 0;
    margin: 0%;
}
.carousel-products{
    background-color: black;
}
.carousel-title{
    color:gold;
    text-align: center;
    font-size: 50px;
}
nav{
    background-color:aqua;
    width: 100%;
}
.nav-item{

    border-radius: 10%;
    display: flex;
}
.nav-link{
    color:white;
    font-size:small;
    
}
.nav-btn{
    padding: 0 1%;
    box-sizing: border-box;
    cursor: pointer;
    background: transparent;
    visibility: hidden;
    opacity: 0;
}
.header {
    
    align-items: center;
}
.nav-item:hover{
    font-weight: 200;
}
.hamburger-menu{
    height: 100%;
    width: 100%;
    z-index: -1;
    
}
.hamburger-bar{
    background-color:greenyellow;
    justify-content: space-between;
}
.hidden{
    display: none;
}
.hamburger-bar.clicked:nth-child(1) {
    transform: rotate(45deg);
}
.hamburger-bar.unclicked {
    transform: rotate(0deg)
}
.watches-row {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.social_icon{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 10px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.title-text{
    justify-content: center;
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
}